header {
    text-align: center;
    color: white;
    background-color: rgb(51, 49, 49);
    padding: .5rem;
}

/* for aside search contain */
.searchContainer {
    background-color: rgb(235, 230, 230);
    border-radius: 2%;
    border: black;
    border-style: solid;
    border-width: 1px;
}
/* five day css */
.card {
    background-color: blue;
}

.card .list-group-item {
    background-color: blue;
    border-style: none;
    color: white;
}
.cardDate {
    font-weight: bold;
}
/* main info css */
.jumbotron {
    background-color: white;
    border-radius: 1%;
    border: black;
    border-style: solid;
    border-width: 1px;
}

.quickPic {
    height:auto;
    width:auto;
}
/* UV index classes */
.lowIndex{
    background-color: green;
}

.medIndex{
    background-color: yellow;
}

.highIndex{
    background-color: red;
}

.currentUVIndex {
    padding: 2px;
    border-radius: 25%;
    border-style: solid;
    border-width: 1px;
}
/* css for jumbotron that shows when there are no recent searches */
.noInfo {
    text-align: center;
}
/* adds cursor when hovering over recent search items */
.cityList li:hover {
    cursor: pointer;
}